@import "theme.css";

.wy-menu-vertical header,.wy-menu-vertical p.caption{color:#b68df5;height:32px;line-height:32px;padding:0 1.618em;margin:12px 0 0;display:block;font-weight:700;text-transform:uppercase;font-size:85%;white-space:nowrap}